@page "/testdatetime"

@using BootStrapBlazor

<h6>Datetime Picker</h6>
<DateTimePicker/>

<h6>Date Picker</h6>
<DateTimePicker IsShowTime="false"/>

<h6>Month Picker</h6>
<MonthPicker/>

<h6>Datetime Dialog</h6>
<DateTimeDialog/>

@code {

}
